
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Flyy.io - Startups gone viral</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Welcome to Flyy</h1>
            <h3>Startups gone viral.</h3>
            <br>
             <button onclick="location.href='/startups/new'" type="button" class="btn btn-dark btn btn-lg navbar-btn fa fa-rocket"> Apply</button>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2>What's Flyy?</h2>
                   
                    <p class="lead">The new way for startups to change their trajectory. Discover new startups or promote your own. Apply for a chance to be part of this exclusive startup experiment. Be different, be bold, but be short. Only the best 10 second videos will make the cut.</p>

                    <br>

                  
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
           
            <br>

            <script>document.write( '<iframe allowfullscreen src="https://iframe.reembed.com?plid=1712_2467_c621ea42a3d78e429135c04156b208da&vid=JT_3rUiYoKg&provider=youtube&type=youtube&width=550&height=450&t='+ document.title.toString() +'&d='+ ((document.getElementsByName("description")[0] != undefined) ? document.getElementsByName("description")[0].content : "") +'" width="550" height="450" frameborder="0"></iframe>' );</script>
            <br>
        </div>
    </aside>

<br>
    

    <!-- Call to Action -->
    <aside class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center bg-inverse">
                   

                      <h3>How it works</h3>
          <br>
                  <h4>1. Submit a 10 second video promoting your startup.</h4>
                  <h4>2. We promote it, you gain potential investors, users, and customers</h4>
                  <h4>3. Reach your target audience faster, get feedback, and change your trajectory.</h4>
                </div>
            </div>
        </div>
    </aside>

    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Flyy.io</strong>
                    </h4>
                    <p>424 Marietta St<br>Atlanta, GA 30303</p>
                    <ul class="list-unstyled">
                        
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">support@flyy.io</a>
                        </li>
                    </ul>

                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <a href="/startup_blog" class="btn btn-lg btn-light">Our Blog</a>
                    <a href="/startups/new" class="btn btn-lg btn-dark">Apply</a>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Flyy 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
