<div class="row">
 <div class="col-md-3 col-md-offset-1">
  <div class="panel panel-default">
   <div class="panel-body">
    <div class="row">
     <div class="col-md-12">
      <img src="http://images.chinatopix.com/data/images/full/6205/airbnb-new-logo.png?w=600" class="img-responsive" style="border-top-left-radius: 6px; border-top-right-radius: 6px;" />
     </div>
     <div class="col-md-12">
      <h2>AirBnb</h2>
      <h4>Travel the hip way. Find awesome places to stay, or make money having people rent your home
     </div>
    </div>
   </div>
  </div>
 </div> 
</div>

