<div class="container" style="height: 1000px;">
  <div class="row">
   <div class="panel-body">
    <h3>Flyy News</h3>
    
    <h5>Discover news in 10 seconds or less</h5>
    </div>
        <br />
        <div class="col-md-8">
            <!-- Success buttons messages -->
          <button id="autoclosable-btn-success" class="btn btn-default btn-block">
            Google open to users paying for an ad-free youtube
         </button>
        <button id="autoclosable-btn-danger" class="btn btn-default btn-block">
            Elon Musk warns of our 'biggest existential threat'
        </button>
          <!-- Warning buttons messages -->
            <button id="autoclosable-btn-warning" class="btn btn-default btn-block">
          The iPad Air 2 and iPad mini 3 reviewed
        </button>
          <!-- Info buttons messages -->
            <button id="autoclosable-btn-info" class="btn btn-default btn-block">
          IBM joins Ebola fight with Big Data
        </button>
            

      </div>
      <div class="col-md-8">
                <!-- Success messages -->
          <div class="alert alert-success alert-autocloseable-success">
          YouTube CEO Susan Wojcicki has confirmed that the Google video service is open to introducing subscriptions.

          This is not exactly news – one of the most controversial sagas to rage this year concerns complaints from independent music companies over YouTube’s yet-to-be launched subscription music service. Indies requested emergency action from the European Commission’s competition regulator, and weeks later a Chocolate Factory music boss quit.
             
          </div>    
        <div class="alert alert-danger alert-autocloseable-danger">
            “With artificial intelligence, we are summoning the demon,” the Tesla TSLA, +9.32%  boss said Friday in an interview at MIT (see video above). “ In all those stories where there’s the guy with the pentagram and the holy water, it’s like, he’s sure he can control the demon.”
          </div>
          <!-- Info messages -->
          <div class="alert alert-info alert-autocloseable-info">
               The American tech giant is helping the government of Sierra Leone crunch data from text messages and telephone calls so health officials and aid workers get a better picture of how the disease is spreading.
          </div>
          
                <!-- Warning messages -->
            <div class="alert alert-warning alert-autocloseable-warning">
             Just a month after overhauling their iPhone line-up, Apple CEO Tim Cook was back on stage to show the off the company’s new iPads.

            Things weren’t as dramatic as with the iPhone launch – the changes and upgrades on Apple’s tablets are more subtle, though Touch ID being introduced on both means they do stand out from previous generations thanks to the tell-tale metallic ring hugging the Home button.
          </div>
            <div class="alert alert-warning alert-normal-warning" hidden="hidden">
              <button type="button" class="close">×</button>
                If I could invest in 2 startups right now it would probably be be Vurb and AirBnB because I feel like they both are going in the right direction and they have a really good team.
                <!-- Danger messages -->
          
          <div class="alert alert-danger alert-normal-danger" hidden="hidden">
              <button type="button" class="close">×</button>
            I'm a normal danger message. To close use  the appropriate button.
        </div>
                <!-- Info messages -->
          <div class="alert alert-info alert-autocloseable-info">
             Just a month after overhauling their iPhone line-up, Apple CEO Tim Cook was back on stage to show the off the company’s new iPads.

            Things weren’t as dramatic as with the iPhone launch – the changes and upgrades on Apple’s tablets are more subtle, though Touch ID being introduced on both means they do stand out from previous generations thanks to the tell-tale metallic ring hugging the Home button.
          </div>
          <div class="alert alert-info alert-normal-info" hidden="hidden">
              <button type="button" class="close">×</button>
            I'm a normal info message. To close use  the appropriate button.
        </div>
            </div>
        </div>
      </div>
    </div>

  </div>
