


<script>
  (function(a,b,c,d,e){var f=a+"Q";b[a]=b[a]||{};b[a][d]=b[a][d]||function(){
  (b[f]=b[f]||[]).push(arguments)};a=c.getElementsByTagName(e)[0];c=c.createElement(e);c.async=1;
  c.src="//static.reembed.com/data/scripts/g_1629_5992e042eb251d6fdefacbb569dfa7ed.js";
  a.parentNode.insertBefore(c,a)})("reEmbed",window,document,"setupPlaylist","script");
</script>


   <div class="container3">

    <div>

            <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        <div class="ha-parallax-body">

            <div class="ha-content ha-content-whitecolor">
          <div class="col-md-6 col-md-offset-3">   

        <h1 class="cover-heading">Welcome to Flyy</h1>

        <p class="lead">The new way for startups to change their trajectory. Discover new startups or promote your own. Apply for a chance to be part of this exclusive startup experiment. Be different, be bold, but be short. Only the best 10 second videos will make the cut. </p>

         <button onclick="location.href='/apps/new'" type="button" class="btn btn-danger btn btn-lg navbar-btn fa fa-rocket"> Apply</button> 

          <h2><strong> 20 </strong></h2>                
    <p><small>Spots Left </small></p>
     <p><small>Deadline: January 1st, 2014</small></p>


            </div>
           </div> 

            <div class="ha-parallax-divider-wrapper">

                <span class="ha-diamond-divider-md img-responsive"></span>

            </div>

         

        </div>

    </div>

 





 <div class="panel-body">

  <div class="container">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
       <div class="cover-container">

         <div class="inner cover">
          

         <div class="col-md-7">
           <h3>How it works</h3>
          <br>
                  <h4>1. Submit a 10 second video pitching your startup.</h4>
                  <h4>2. We promote it, you gain potential investors, users, and customers</h4>
                  <h4>3. Reach your target audience faster, get feedback, and change your trajectory.</h4>
         </div>         

        <div class="col-md-5">   
        <div class="process">
      <div class="process-row">
        <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-users fa-3x"></i></button>
            <h4>Gain Customers</h4>
        </div>
        <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-comments-o fa-3x"></i></button>
            <h4>Gain Knowledge</h4>
        </div>
        
         <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-bar-chart-o fa-3x"></i></button>
            <h4>Gain Traction</h4>
            
        </div> 
    </div>
</div>      
</div>
</div>
</div>

       

        </div>

        </div>  
       </div> 
      </div>
    </div>
  </div>
 </div> 




<div class="container3">


    <div>

            <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        <div class="ha-parallax-body">

            <div class="ha-content ha-content-whitecolor">

            <div class="col-md-5 col-md-offset-4">

               <script>document.write( '<iframe allowfullscreen src="https://iframe.reembed.com?plid=1712_2467_c621ea42a3d78e429135c04156b208da&vid=JT_3rUiYoKg&provider=youtube&type=youtube&width=550&height=450&t='+ document.title.toString() +'&d='+ ((document.getElementsByName("description")[0] != undefined) ? document.getElementsByName("description")[0].content : "") +'" width="550" height="450" frameborder="0"></iframe>' );</script>
           </div>    
           </div>

           

        
   


</div>
</div>
</div>
</div>
</div>

 <div class="panel-body">

  <div class="container">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
       <div class="cover-container">

         <div class="inner cover">
          

        

                <div class="col-md-5 col-md-offset-4">
         <div class="panel panel-danger">



        <h4><a href="mailto:info@flyy.io">Question or Comment?     Contact us: info@flyy.io</a></h4>
   </div>
    </div>
           
       

        </div>

        </div>  
       </div> 
      </div>
    </div>
  </div>
 </div> 




</body>
</html>
