 <div class="container3">

    <div>

            <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        <div class="ha-parallax-body">

            <div class="ha-content ha-content-whitecolor">
          <div class="col-md-6 col-md-offset-3">   

        <h1 class="cover-heading">Welcome to Flyy</h1>

        <p class="lead">The new way for startups to change their trajectory. Discover new startups or promote yours. Apply for a chance to be part of this exclusive startup experiment. Be different, be bold, but be short. Only the best 10 second pitches will make the cut. </p>

         <button onclick="location.href='/apps/new'" type="button" class="btn btn-danger btn btn-lg navbar-btn fa fa-rocket"> Apply</button> 

          <h2><strong> 20 </strong></h2>                
    <p><small>Spots Left </small></p>
     <p><small>Deadline: January 1st, 2014</small></p>


            </div>
           </div> 

            <div class="ha-parallax-divider-wrapper">

                <span class="ha-diamond-divider-md img-responsive"></span>

            </div>

         

        </div>

    </div>

 





 <div class="panel-body">

  <div class="container">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
       <div class="cover-container">

         <div class="inner cover">
          

         <div class="col-md-7">
           <h3>How it works</h3>
          <br>
                  <h4>1. Submit a 10 second video pitching your startup.</h4>
                  <h4>2. We promote it, you gain potential investors, users, and customers</h4>
                  <h4>3. Reach your target audience faster, get feedback, and change your trajectory.</h4>
         </div>         

        <div class="col-md-5">   
        <div class="process">
      <div class="process-row">
        <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-users fa-3x"></i></button>
            <h4>Gain Customers</h4>
        </div>
        <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-comments-o fa-3x"></i></button>
            <h4>Gain Knowledge</h4>
        </div>
        
         <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-bar-chart-o fa-3x"></i></button>
            <h4>Gain Traction</h4>
        </div> 
    </div>
</div>      
</div>
</div>
</div>

       

        </div>

        </div>  
       </div> 
      </div>
    </div>
  </div>
 </div> 




<div class="container3">

    <div>

            <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        <div class="ha-parallax-body">

            <div class="ha-content ha-content-whitecolor">

            <div class="col-md-3">

               <script>document.write( '<iframe allowfullscreen src="https://iframe.reembed.com?plid=1712_2467_c621ea42a3d78e429135c04156b208da&vid=JT_3rUiYoKg&provider=youtube&type=youtube&width=440&height=360&t='+ document.title.toString() +'&d='+ ((document.getElementsByName("description")[0] != undefined) ? document.getElementsByName("description")[0].content : "") +'" width="665" height="430" frameborder="0"></iframe>' );</script>
           </div>    

           

         <div class="col-md-6 col-md-offset-3">

         <div class="body">
         
       <h4>Startups need increasingly more effective ways to market themselves at each stage of growth. Research is supporting the idea that new, shorter marketing pitches are the new standard for reaching your potential audience.</h4>

        <h4>
        At Flyy, we reinforce this ideaology by creating a platform for today's most innovative entreprenuers to interact and boost their startups' potential.
       </h4>
   </div>
    
 
    </div>


</div>
</div>
</div>
</div>
</div>



<div class="container">
  <div class="page-header">
    <h1>FAQ
      <small>Frequently Asked Questions</small>
    </h1>
    <address><a href="mailto:info@flyy.io">Contact Us: info@flyy.io</a></address></p> 
  </div>
  <div class="row">
    <div id="faq" class="col-md-9">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                href="#collapse-1">
              What is Flyy?
              </a>
            </h4>
          </div>
          <div id="collapse-1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
              </p>
              <p>beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                probably haven't heard of them accusamus labore sustainable VHS.
              </p>
            </div>
            <div class="panel-footer">
              <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
              <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                href="#collapse-2">
              Why should I use Flyy??
              </a>
            </h4>
          </div>
          <div id="collapse-2" class="panel-collapse collapse">
            <div class="panel-body">
              Aliquam rutrum lorem ac risus. Morbi metus. Vivamus euismod urna. Nullam lobortis quam a felis ullamcorper viverra. Maecenas iaculis aliquet diam. Sed diam lorem, auctor quis, tristique ac, eleifend
            </div>
            <div class="panel-footer">
              <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
              <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                href="#collapse-3">
              What should be in the 10 second video?
              </a>
            </h4>
          </div>
          <div id="collapse-3" class="panel-collapse collapse">
            <div class="panel-body">
              tellus lorem eu metus. In lorem. Donec elementum, lorem ut aliquam iaculis, lacus pede sagittis augue, eu tempor erat neque non quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam fringilla cursus purus. Nullam scelerisque neque sed sem egestas blandit. Nam nulla magna, malesuada vel, convallis in, cursus et, eros.
            </div>
            <div class="panel-footer">
              <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
              <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                href="#collapse-4">
              How do I apply?
              </a>
            </h4>
          </div>
          <div id="collapse-4" class="panel-collapse collapse">
            <div class="panel-body">
              non, lacinia at, iaculis quis, pede. Praesent eu dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eget magna. Suspendisse tristique neque venenatis lacus. Etiam bibendum fermentum metus. Aenean sed pede nec ante blandit viverra. Donec tempus, lorem fringilla ornare placerat, orci lacus vestibulum lorem, sit amet ultricies
            </div>
            
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                href="#collapse-5">
              Can I apply with multiple startups?
              </a>
            </h4>
          </div>
          <div id="collapse-5" class="panel-collapse collapse">
            <div class="panel-body">
              vestibulum massa rutrum magna. Cras convallis convallis dolor. Quisque tincidunt pede ac urna. Ut tincidunt vehicula risus. Nulla eget metus eu erat semper rutrum. Fusce dolor quam, elementum at, egestas a, scelerisque sed, sapien. Nunc pulvinar arcu et pede. Nunc sed orci lobortis augue scelerisque mollis. Phasellus libero mauris, aliquam eu, accumsan sed, facilisis vitae, orci. Phasellus dapibus quam quis diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce aliquet magna a neque. Nullam ut nisi a odio semper cursus. Integer mollis. Integer tincidunt aliquam arcu. Aliquam ultrices iaculis odio. Nam
            </div>
            <div class="panel-footer">
              <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
              <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                href="#collapse-6">
              Pellentesque habitant morbi tristique senectus et netus?
              </a>
            </h4>
          </div>
          <div id="collapse-6" class="panel-collapse collapse">
            <div class="panel-body">
              nonummy ultricies ornare, elit elit fermentum risus, at fringilla purus mauris a nunc. In at pede. Cras vulputate velit eu sem. Pellentesque ut ipsum ac mi eleifend egestas. Sed pharetra, felis eget varius ultrices, mauris ipsum porta elit, a feugiat tellus lorem eu metus. In lorem. Donec elementum, lorem ut aliquam iaculis, lacus pede sagittis augue, eu tempor erat neque non quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam fringilla cursus purus. Nullam scelerisque neque sed sem egestas blandit. Nam nulla magna, malesuada vel, convallis in, cursus et, eros. Proin ultrices. Duis volutpat
            </div>
            <div class="panel-footer">
              <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
              <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div>
            </div>
          </div>
        </div>
        
        
        
        
       
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                href="#collapse-21">
              dui. Fusce diam nunc,
              </a>
            </h4>
          </div>
          <div id="collapse-21" class="panel-collapse collapse">
            <div class="panel-body">
              ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec tincidunt. Donec vitae erat vel pede blandit congue. In scelerisque scelerisque dui. Suspendisse ac metus vitae velit egestas lacinia. Sed congue, elit sed consequat auctor, nunc nulla vulputate dui, nec tempus mauris erat eget ipsum. Suspendisse sagittis. Nullam vitae diam. Proin dolor. Nulla semper tellus id nunc interdum feugiat. Sed nec metus facilisis
            </div>
            <div class="panel-footer">
              <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
              <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                href="#collapse-22">
              ultricies sem magna nec quam. Curabitur
              </a>
            </h4>
          </div>
          <div id="collapse-22" class="panel-collapse collapse">
            <div class="panel-body">
              nonummy ultricies ornare, elit elit fermentum risus, at fringilla purus mauris a nunc. In at pede. Cras vulputate velit eu sem. Pellentesque ut ipsum ac mi eleifend egestas. Sed pharetra, felis eget varius ultrices, mauris ipsum porta elit, a feugiat tellus lorem eu metus. In
            </div>
            <div class="panel-footer">
              <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
              <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <p class="lead">Useful tips</p>
      <div class="list-group">
        <a href="#" class="list-group-item active">Printable</a>
        <a href="#" class="list-group-item">Cupcake Wrappers</a>
        <a href="#" class="list-group-item">Authentic Dragon Bones</a>
      </div>
    </div>
  </div>
</div>

   
