 <div class="container3">

    <div>

            <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        <div class="ha-parallax-body">

            <div class="ha-content ha-content-whitecolor">
          <div class="col-md-6 col-md-offset-3">   

        <h1 class="cover-heading">Welcome to Flyy</h1>

        <p class="lead">The new way to discover startups and to promote your startup. Be different, be bold, but be short. Apply with a 10 second video for a chance to be part of this exclusive startup experiment. </p>

         <button onclick="location.href='/apps/new'" type="button" class="btn btn-danger btn btn-lg navbar-btn fa fa-rocket"> Apply</button> 

          <h2><strong> 20 </strong></h2>                
    <p><small>Spots Left </small></p>
     <p><small>Deadline: December 15th 2014</small></p>


            </div>
           </div> 

            <div class="ha-parallax-divider-wrapper">

                <span class="ha-diamond-divider-md img-responsive"></span>

            </div>

         

        </div>

    </div>

 





 <div class="panel-body">

  <div class="container">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
       <div class="cover-container">

         <div class="inner cover">
          

         <div class="col-md-5 col-md-offset-1">
           <h3>How it works</h3>
          <br>
                  <h4>1. Submit a 10 second video pitching your startup.</h4>
                  <h4>2. We promote it, you promote it.</h4>
                  <h4>3. You gain potential investors, users, and customers.</h4>
         </div>         

        <div class="col-md-4 col-md-offset-1">   
        <div class="process">
      <div class="process-row">
        <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-users fa-3x"></i></button>
            <h4>Reach Audience Faster</h4>
        </div>
        <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-comments-o fa-3x"></i></button>
            <h4>Get Feedback</h4>
        </div>
        
         <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-bar-chart-o fa-3x"></i></button>
            <h4>Change Your Trajectory</h4>
        </div> 
    </div>
</div>      
</div>
</div>
</div>

       

        </div>

        </div>  
       </div> 
      </div>
    </div>
  </div>
 </div> 




<div class="container3">

    <div>

            <div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        <div class="ha-parallax-body">

            <div class="ha-content ha-content-whitecolor">

            <div class="col-md-3">

               <script>document.write( '<iframe allowfullscreen src="https://iframe.reembed.com?plid=1712_2467_c621ea42a3d78e429135c04156b208da&vid=JT_3rUiYoKg&provider=youtube&type=youtube&width=440&height=360&t='+ document.title.toString() +'&d='+ ((document.getElementsByName("description")[0] != undefined) ? document.getElementsByName("description")[0].content : "") +'" width="665" height="430" frameborder="0"></iframe>' );</script>
           </div>    

           

           <div class="col-md-3 col-md-offset-3">

               <script>document.write( '<iframe allowfullscreen src="https://iframe.reembed.com?plid=1712_2467_c621ea42a3d78e429135c04156b208da&vid=JT_3rUiYoKg&provider=youtube&type=youtube&width=440&height=360&t='+ document.title.toString() +'&d='+ ((document.getElementsByName("description")[0] != undefined) ? document.getElementsByName("description")[0].content : "") +'" width="665" height="430" frameborder="0"></iframe>' );</script>
           </div>    


            </div>

            <div class="ha-parallax-divider-wrapper">

                <span class="ha-diamond-divider-md img-responsive"></span>

            </div>

         

        </div>

    </div>

 


