<div class="container4">
<div class="row">
 <div class="col-md-3 col-md-offset-1">
  <div class="panel panel-default">
   <div class="panel-body">
    <div class="row">
     <div class="col-md-6 col-sm-4 col-xs-4">
      <img src="http://i.imgur.com/x3GGS4h.png" class="img-circle" style="width:150px; height:150px;" />
     </div>
     <div class="col-md-10">
      <h3>Devin Flynn</h3>
       <h5>Co-founder @Flyy, Developer, Designer, Producer, Day Trader</h5>
     </div>
    </div>
   </div>
  </div>
  
  <div class="panel panel-default">
   <div class="panel-heading">
       <h3 class="panel-title">Devin's Likes</h3>
   </div>    
   <div class="panel-body">

     <img src="http://i.imgur.com/ElXGAyP.png" class="img-circle" style="width:50px; height:50px;" />
     <img src="http://i.imgur.com/XCFzKU8.png" class="img-circle" style="width:50px; height:50px;" />
     <img src="http://i.imgur.com/SHBdK12.png" class="img-circle" style="width:50px; height:50px;" />
     <img src="http://i.imgur.com/6TXP7rG.png" class="img-circle" style="width:50px; height:50px;" />
     <img src="http://i.imgur.com/XCFzKU8.png" class="img-circle" style="width:50px; height:50px;" />
     <img src="http://i.imgur.com/SHBdK12.png" class="img-circle" style="width:50px; height:50px;" />

   </div>
  </div>
   <div class="panel panel-default">
   <div class="panel-heading">
       <h3 class="panel-title">Links</h3>
   </div>    
   <div class="panel-body">
     <img src="http://i.imgur.com/ElXGAyP.png" class="img-circle" style="width:120px; height:120px;" />
     <img src="http://i.imgur.com/6TXP7rG.png" class="img-circle" style="width:120px; height:120px;" />
     <img src="http://i.imgur.com/XCFzKU8.png" class="img-circle" style="width:120px; height:120px;" />
     <img src="http://i.imgur.com/SHBdK12.png" class="img-circle" style="width:120px; height:120px;" />
    
   </div>
  </div>
 </div>

 <div class="col-md-6">

     <div class="panel-heading">
       <h3 class="panel-title">Saved Startups</h3>
   </div>    
   <div class="panel-body">
   <img src="http://i.imgur.com/ElXGAyP.png" class="img-circle" style="width:120px; height:120px; margin-bottom:5px;" />
     <img src="http://i.imgur.com/XCFzKU8.png" class="img-circle" style="width:120px; height:120px; margin-bottom:5px;" />
     <img src="http://i.imgur.com/SHBdK12.png" class="img-circle" style="width:120px; height:120px; margin-bottom:5px;" />
     <img src="http://i.imgur.com/TF2Lzb3.png" class="img-circle" style="width:120px; height:120px; margin-bottom:5px;" />
     <img src="http://i.imgur.com/XCFzKU8.png" class="img-circle" style="width:120px; height:120px; margin-bottom:5px;" />
     <img src="http://i.imgur.com/SHBdK12.png" class="img-circle" style="width:120px; height:120px; margin-bottom:5px;" />
   
  </div>
 </div>
 