<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    

     <div class="ha-bg-parallax2 text-center block-marginb-none" data-type="background" data-speed="20">

        
    

    </div>

    <div class="container2">
    

   

  
    <div class="col-md-12">

    
        <h2>Flyy Startup Blog</h2>

        <p><span class="label label-default">Click Links For Full Article</span></p>

    
        
       
    <div class="panel-default">

    <div class="col-md-4">



  
   <a href="http://techcrunch.com/2014/10/21/and-the-winner-of-techcrunch-disrupt-europe-2014-is-crate/"><img src="http://i.imgur.com/BUBfn3p.png" class="img-rounded" style="width:120px; height:100px;"/>
     
     <h3>And The Winner Of TechCrunch Disrupt Europe 2014 Is… Crate</h3>
     </a>




     <p>"After hours of deliberations, TechCrunch editors pored over the judges’ notes and narrowed the list down to four finalists: Crate.IO, Disease Diagnostic Group, Oscult by Oscadi and PhotoMath by MicroBlink. These startups made their way to the finale to demo in front of our final panel of judges, which were Mat Braddy (Just Eat), Sonali De Rycker (Accel Partners), Brent Hoberman (PROfounders Capital), Klaus Hommels (Lakestar), and Mattias Ljungman (Atomico)."
 </p>
</div>

  <div class="col-md-4">

<a href="http://fantasy.usatoday.com/2014/12/basketball-sleepers-busts-russell-westbrook-bradley-beal﻿"><img src="http://i.imgur.com/o1VW0i2.png" class="img-rounded" style="width:100px; height:100px;"/>
     
     <h3>Fantasy Basketball Sleppers and Busts</h3>
     </a>




     <p>"Westbrook has been a reliable monster over the last week, averaging 50 FantasyScore points per game over his last four. His lowest output is 39.5 fantasy points in eight games since returning from injury. He has a good matchup and provides the most bang for your buck."
 </p>
 </div>

 <div class="col-md-4">

<a href="http://bleacherreport.com/articles/2223657-chris-bosh-injury-updates-on-heat-stars-calf-and-return"><img src="http://i.imgur.com/QhJWVxY.png" class="img-rounded" style="width:100px; height:100px;"/>


     
     <h3>Chris Bosh Injury Update</h3>
     </a>


</div>

     <p>"Heat forward Chris Bosh indicated after Sunday's loss to the Chicago Bulls that he could be out for a while. The Heat plays the Nets on Tuesday in Brooklyn and Bosh is doubtful for that game, but he could be out a few weeks."
 </p>

 

</div>



</div>

     </div>

     </div>
     </div>
