


<div class="col-md-12">
<div class="container4">
<div class="row">
  <div class="panel panel-default2">
   <div class="panel-body">
      <%= link_to "Back", :back, class: "btn btn-default" %>
    <div class="row">
     <div class="col-md-12 col-md-offset-4 col-sm-4 col-xs-4">
      <img src="http://i.imgur.com/GITo8kD.png" class="img-circle" style="width:100px; height:100px; margin-left: 80px; margin-top: 30px;" />
     </div>
     <div class="col-md-8 col-md-offset-4">
      <h3><%= current_user.name %></h3>
       <h5><%= current_user.description %></h5>
       <div class="col-xs-6 col-md-3">
          
            
      
     </div>
    </div>
   </div>
  </div>
</div>

<div class="container4">
<div class="col-md-8 col-md-offset-2">

        <h1>Stats</h1>
            
    <div class="row">
        <div class="col-xs-6 col-md-3">

      
            
            <div class="panel status panel-danger">
                <div class="panel-heading">
                    <h1>1,382</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Total Views</strong>
                </div>
            </div>

        </div>          
        <div class="col-xs-6 col-md-3">
          
            <div class="panel status panel-warning">
                <div class="panel-heading">
                    <h1>373</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Profile Views</strong>
                </div>
            </div>

        </div>
        <div class="col-xs-6 col-md-3">
           
            <div class="panel status panel-success">
                <div class="panel-heading">
                    <h1>1,009</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Startup Views</strong>
                </div>
            </div>

         
        </div>
           <div class="col-xs-6 col-md-3">
           
            <div class="panel status panel-inverse">
                <div class="panel-heading">
                    <h1>453</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Likes</strong>
                </div>
            </div>

         
        </div>
        
    </div>
   </div> 

</div>


