u.btn-grey { 
  color: #445494; 
  background-color: #EBEBEB; 
  border-color: #BABABA; 
} 
 
.btn-grey:hover, 
.btn-grey:focus, 
.btn-grey:active, 
.btn-grey.active, 
.open .dropdown-toggle.btn-grey { 
  color: #445494; 
  background-color: #E3E0E0; 
  border-color: #BABABA; 
} 
 
.btn-grey:active, 
.btn-grey.active, 
.open .dropdown-toggle.btn-grey { 
  background-image: none; 
} 
 
.btn-grey.disabled, 
.btn-grey[disabled], 
fieldset[disabled] .btn-grey, 
.btn-grey.disabled:hover, 
.btn-grey[disabled]:hover, 
fieldset[disabled] .btn-grey:hover, 
.btn-grey.disabled:focus, 
.btn-grey[disabled]:focus, 
fieldset[disabled] .btn-grey:focus, 
.btn-grey.disabled:active, 
.btn-grey[disabled]:active, 
fieldset[disabled] .btn-grey:active, 
.btn-grey.disabled.active, 
.btn-grey[disabled].active, 
fieldset[disabled] .btn-grey.active { 
  background-color: #EBEBEB; 
  border-color: #BABABA; 
} 
 
.btn-grey .badge { 
  color: #EBEBEB; 
  background-color: #445494; 
}

.btn-white { 
  color: #fff; 
  background-color: #183b3f; 
  border-color: #183b3f; 
} 
 
.btn-white:hover, 
.btn-white:focus, 
.btn-white:active, 
.btn-white.active, 
.open .dropdown-toggle.btn-white { 
  color: #000; 
  background-color: #E8E8E8; 
  border-color: #E8E8E8; 
} 
 
.btn-white:active, 
.btn-white.active, 
.open .dropdown-toggle.btn-white { 
  background-image: none; 
} 
 
.btn-white.disabled, 
.btn-white[disabled], 
fieldset[disabled] .btn-white, 
.btn-white.disabled:hover, 
.btn-white[disabled]:hover, 
fieldset[disabled] .btn-white:hover, 
.btn-white.disabled:focus, 
.btn-white[disabled]:focus, 
fieldset[disabled] .btn-white:focus, 
.btn-white.disabled:active, 
.btn-white[disabled]:active, 
fieldset[disabled] .btn-white:active, 
.btn-white.disabled.active, 
.btn-white[disabled].active, 
fieldset[disabled] .btn-white.active { 
  background-color: #FFFFFF; 
  border-color: #E8E8E8; 
} 
 
.btn-white .badge { 
  color: #FFFFFF; 
  background-color: #445494; 
}


.btn-gold { 
  color: #E6A545; 
  background-color: #FFFFFF; 
  border-color: #E8E8E8; 
} 
 
.btn-gold:hover, 
.btn-gold:focus, 
.btn-gold:active, 
.btn-gold.active, 
.open .dropdown-toggle.btn-gold { 
  color: #E6A545; 
  background-color: #E8E8E8; 
  border-color: #E8E8E8; 
} 
 
.btn-gold:active, 
.btn-gold.active, 
.open .dropdown-toggle.btn-gold { 
  background-image: none; 
} 
 
.btn-gold.disabled, 
.btn-gold[disabled], 
fieldset[disabled] .btn-gold, 
.btn-gold.disabled:hover, 
.btn-gold[disabled]:hover, 
fieldset[disabled] .btn-gold:hover, 
.btn-gold.disabled:focus, 
.btn-gold[disabled]:focus, 
fieldset[disabled] .btn-gold:focus, 
.btn-gold.disabled:active, 
.btn-gold[disabled]:active, 
fieldset[disabled] .btn-gold:active, 
.btn-gold.disabled.active, 
.btn-gold[disabled].active, 
fieldset[disabled] .btn-gold.active { 
  background-color: #FFFFFF; 
  border-color: #E8E8E8; 
} 
 
.btn-gold .badge { 
  color: #FFFFFF; 
  background-color: #E6A545; 
}



.btn-red { 
  color: #fff; 
  background-color: #125c60; 
  border-color: #125c60; 
} 
 
.btn-red:hover, 
.btn-red:focus, 
.btn-red:active, 
.btn-red.active, 
.open .dropdown-toggle.btn-red { 
  color: #2d4b76; 
  background-color: #e8e8e8; 
  border-color: #fff; 
} 
 
.btn-red:active, 
.btn-red.active, 
.open .dropdown-toggle.btn-red { 
  background-image: none; 
} 
 
.btn-red.disabled, 
.btn-red[disabled], 
fieldset[disabled] .btn-red, 
.btn-red.disabled:hover, 
.btn-red[disabled]:hover, 
fieldset[disabled] .btn-red:hover, 
.btn-red.disabled:focus, 
.btn-red[disabled]:focus, 
fieldset[disabled] .btn-red:focus, 
.btn-red.disabled:active, 
.btn-red[disabled]:active, 
fieldset[disabled] .btn-red:active, 
.btn-red.disabled.active, 
.btn-red[disabled].active, 
fieldset[disabled] .btn-red.active { 
  background-color: #FFFFFF; 
  border-color: #E8E8E8; 
} 
 
.btn-red .badge { 
  color: #FFFFFF; 
  background-color: #E64545; 
}


.btn-up { 
  color: #000; 
  background-color: #fff; 
  border-color: #000; 
} 
 
.btn-up:hover, 
.btn-up:focus, 
.btn-up:active, 
.btn-up.active, 
.open .dropdown-toggle.btn-up { 
  color: #1C0A0A; 
  background-color: #fff; 
  border-color: #FFFFFF; 
} 
 
.btn-up:active, 
.btn-up.active, 
.open .dropdown-toggle.btn-up { 
  background-image: none; 
} 
 
.btn-up.disabled, 
.btn-up[disabled], 
fieldset[disabled] .btn-up, 
.btn-up.disabled:hover, 
.btn-up[disabled]:hover, 
fieldset[disabled] .btn-up:hover, 
.btn-up.disabled:focus, 
.btn-up[disabled]:focus, 
fieldset[disabled] .btn-up:focus, 
.btn-up.disabled:active, 
.btn-up[disabled]:active, 
fieldset[disabled] .btn-up:active, 
.btn-up.disabled.active, 
.btn-up[disabled].active, 
fieldset[disabled] .btn-up.active { 
  background-color: #FFFFFF; 
  border-color: #FFFFFF; 
} 
 
.btn-up .badge { 
  color: #FFFFFF; 
  background-color: #1C0A0A; 
}

  .youtube{
    margin:auto;
    float:left;
    width:100%;
    text-align:center;
    position: relative;
    height: 0; overflow: hidden;
  }

  .youtube iframe,
  .youtube object,
  .youtube embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border:solid 1px #121;
  }
  
  .youtube iframe:hover,
  .youtube object:hover,
  .youtube embed:hover {
      border:solid 1px #FFF;
  }

  