

<div class="col-md-12">
<div class="container4">
<div class="row">
  <div class="panel panel-default2">
   <div class="panel-body">
    <div class="row">
     <div class="col-md-12 col-md-offset-4 col-sm-4 col-xs-4">
      <img src="http://i.imgur.com/mC4YEy7.png" class="img-circle" style="width:100px; height:100px;" />
     </div>
     <div class="col-md-8 col-md-offset-4">
      <h3><%= current_user.name %></h3>
       <h5><%= current_user.description %></h5>

     <img src="http://i.imgur.com/ElXGAyP.png" class="img-circle" style="width:40px; height:40px;" />
     <img src="http://i.imgur.com/6TXP7rG.png" class="img-circle" style="width:40px; height:40px;" />
     <img src="http://i.imgur.com/XCFzKU8.png" class="img-circle" style="width:40px; height:40px;" />
     <img src="http://i.imgur.com/SHBdK12.png" class="img-circle" style="width:40px; height:40px;" />
     </div>
    </div>
   </div>
  </div>
</div>
    

    <div class="container" style="height: 1000px;">
  <div class="row">
   <div class="panel-body">
   
        <br />
        <div class="col-md-8 col-md-offset-2">
         <h4>Bio Questions</h4>
            <!-- Success buttons messages -->
          <button id="autoclosable-btn-success" class="btn btn-default btn-block">
            How did you get into startups?
         </button>
        <button id="autoclosable-btn-danger" class="btn btn-default btn-block">
            If you could invest in any 2 startups right now, who would they be and why?
        </button>
          <!-- Warning buttons messages -->
            <button id="autoclosable-btn-warning" class="btn btn-default btn-block">
          If you only had 100 to spend on marketing, how would you spend it?
        </button>
          <!-- Info buttons messages -->
            <button id="autoclosable-btn-info" class="btn btn-default btn-block">
          Tell us something interesting that will be around in the coming future.
        </button>
            

      </div>
      <div class="col-md-8 col-md-offset-2">
                <!-- Success messages -->
          <div class="alert alert-success alert-autocloseable-success">
              <!--This is a comment. Comments are not displayed in the browser
              I starting learning programming a little bit in highschool but had no idea the possibilities I would have today. I cant imagine myself doing anything other than startups.-->
          </div>    
        <div class="alert alert-danger alert-autocloseable-danger">
             <!--If I could invest in 2 startups right now it would probably be be Vurb and AirBnB because I feel like they are going in the right direction and they have a really good team.-->
          </div>
          <!-- Info messages -->
          <div class="alert alert-info alert-autocloseable-info">
          <!--
               Electronic headstones where you can see pictures and videos of the people lives.-->
          </div>
          
                <!-- Warning messages -->
            <div class="alert alert-warning alert-autocloseable-warning">
            <!--
              I might buy a football ticket and pay somebody to go streaking with my company logo painted to his chest. It would probably be on the news.-->
          </div>
            <div class="alert alert-warning alert-normal-warning" hidden="hidden">
              <button type="button" class="close">×</button>
              <!--
                If I could invest in 2 startups right now it would probably be be Vurb and AirBnB because I feel like they both are going in the right direction and they have a really good team.-->
                <!-- Danger messages -->
          
          <div class="alert alert-danger alert-normal-danger" hidden="hidden">
              <button type="button" class="close">×</button>
            I'm a normal danger message. To close use  the appropriate button.
        </div>
                <!-- Info messages -->
          <div class="alert alert-info alert-autocloseable-info">
          <!--
             Electronic headstones where you can see pictures and videos of the people's lives.-->
          </div>
          <div class="alert alert-info alert-normal-info" hidden="hidden">
              <button type="button" class="close">×</button>
            I'm a normal info message. To close use  the appropriate button.
        </div>
            </div>
        </div>
</div>

  
  <div class="panel panel-default">
   <div class="panel-heading">
       <h3 class="panel-title">Devin's Likes</h3>
   </div>    
   <div class="panel-body">

     <img src="http://i.imgur.com/ElXGAyP.png" class="img-circle" style="width:100px; height:100px;" />
     <img src="http://i.imgur.com/XCFzKU8.png" class="img-circle" style="width:100px; height:100px;" />
     <img src="http://i.imgur.com/SHBdK12.png" class="img-circle" style="width:100px; height:100px;" />
     <img src="http://i.imgur.com/6TXP7rG.png" class="img-circle" style="width:100px; height:100px;" />
     <img src="http://i.imgur.com/XCFzKU8.png" class="img-circle" style="width:100px; height:100px;" />
     <img src="http://i.imgur.com/SHBdK12.png" class="img-circle" style="width:100px; height:100px;" />

   </div>
  </div>
   
 </div>
</div>
 

  <div class="container" style="height: 1000px;">
  <div class="row">
   <div class="panel-body">
   
        <br />
        <div class="col-md-8 col-md-offset-2">
         <h4>Bio Questions</h4>
            <!-- Success buttons messages -->
          <button id="autoclosable-btn-success" class="btn btn-default btn-block">
            How did you get into startups?
         </button>
        <button id="autoclosable-btn-danger" class="btn btn-default btn-block">
            If you could invest in any 2 startups right now, who would they be and why?
        </button>
          <!-- Warning buttons messages -->
            <button id="autoclosable-btn-warning" class="btn btn-default btn-block">
          If you only had 100 to spend on marketing, how would you spend it?
        </button>
          <!-- Info buttons messages -->
            <button id="autoclosable-btn-info" class="btn btn-default btn-block">
          Tell us something interesting that will be around in the coming future.
        </button>
            

      </div>
      <div class="col-md-8 col-md-offset-2">
                <!-- Success messages -->
          <div class="alert alert-success alert-autocloseable-success">
              <!--This is a comment. Comments are not displayed in the browser
              I starting learning programming a little bit in highschool but had no idea the possibilities I would have today. I cant imagine myself doing anything other than startups.-->
          </div>    
        <div class="alert alert-danger alert-autocloseable-danger">
             <!--If I could invest in 2 startups right now it would probably be be Vurb and AirBnB because I feel like they are going in the right direction and they have a really good team.-->
          </div>
          <!-- Info messages -->
          <div class="alert alert-info alert-autocloseable-info">
          <!--
               Electronic headstones where you can see pictures and videos of the people lives.-->
          </div>
          
                <!-- Warning messages -->
            <div class="alert alert-warning alert-autocloseable-warning">
            <!--
              I might buy a football ticket and pay somebody to go streaking with my company logo painted to his chest. It would probably be on the news.-->
          </div>
            <div class="alert alert-warning alert-normal-warning" hidden="hidden">
              <button type="button" class="close">×</button>
              <!--
                If I could invest in 2 startups right now it would probably be be Vurb and AirBnB because I feel like they both are going in the right direction and they have a really good team.-->
                <!-- Danger messages -->
          
          <div class="alert alert-danger alert-normal-danger" hidden="hidden">
              <button type="button" class="close">×</button>
            I'm a normal danger message. To close use  the appropriate button.
        </div>
                <!-- Info messages -->
          <div class="alert alert-info alert-autocloseable-info">
          <!--
             Electronic headstones where you can see pictures and videos of the people's lives.-->
          </div>
          <div class="alert alert-info alert-normal-info" hidden="hidden">
              <button type="button" class="close">×</button>
            I'm a normal info message. To close use  the appropriate button.
        </div>
            </div>
        </div>
</div>
 </div>

 </div>
 </div>
